<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <username>teams@medoc.ua</username>
  <password>0goLO0Dt0MwMEXLsj8v5RVIrq9auC6oVeJeljHWYmwo=</password>
  <client>
    <id>YWLe62UKG74Bs7Xaj8C78HH8SBl8mxkHNKAdvHfXHgI+dsi0RVbfB3LhbJOypP7s</id>
    <folder>tAnfUCBxaVQblnhbiIqlnIFt17TUGzKEXNCaB41HZx7VEn/BXhFrarau85i6DB5G</folder>
    <secret>WWvyIZeum84YFgVroOSwMYly5Ejc5ZuLXnVih7NtZaz1RcKLnFdWr7C1TTg/txeT</secret>
    <scope>PRNYAJmwzwRSHTAoY6p4oH21ERs9XViyOlNzj0gb1RthDD579uQovHp0t9jVZ+mR</scope>
  </client>
</configuration>